.moving_Head {
    animation: rotateHead 4s infinite;
    position: relative;
    width: 231px;
    z-index: 4;
}

.wiggle_Nose {
    animation: wiggleNose 1s infinite;
}

.moving_Left_Ear {
    animation: rotateLeftEar 1s infinite;
}

.moving_Right_Ear {
    animation: rotateRightEar 1s infinite;
}

.tail_Rotation {
    animation: tailWiggle 0.5s infinite;
}

.twitch_Whiskers_Right {
    animation: whiskerTwitchRight 1s infinite;
}

.twitch_Whiskers_Left {
    animation: whiskerTwitchLeft 1s infinite;
}

.tap_Right_Paw {
    animation: tapPaw 0.5s infinite;
}

.nose_Chest_Wiggle {
    animation: wiggleNose 1s infinite;
}

.perky_Ear_Left {
    transform: scale(-1, 1) rotate(165deg);
}

.perky_Ear_Right {
    transform: rotate(165deg);
}

@keyframes rotateHead {
    0%, 10%, 40% {
        transform: rotate(-2deg);
    }
    50%, 90% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}

@keyframes rotateEars {
    0%, 10%, 40% {
        transform: rotate(2deg);
    }
    50%, 90% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

@keyframes rotateLeftEar {
    0% {
        transform: scale(-1, 1) rotate(170deg);
    }
    50% {
        transform: scale(-1, 1) rotate(175deg);
    }
    100% {
        transform: scale(-1, 1) rotate(170deg);
    }
}

@keyframes rotateRightEar {
    0% {
        transform: rotate(170deg);
    }
    50% {
        transform: rotate(175deg);
    }
    100% {
        transform: rotate(170deg);
    }
}

@keyframes wiggleNose {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes tailWiggle {
    0% {
        transform: rotate(-50deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(-50deg);
    }
}

@keyframes whiskerTwitchRight {
    0% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}

@keyframes whiskerTwitchLeft {
    0% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(-6deg);
    }
}

@keyframes tapPaw {
    0% {
        top: 20px;
    }
    50% {
        top: 24px;
    }
    100% {
        top: 20px;
    }
}

@keyframes wiggleNose {
    0% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}