.catBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 100px;
    height: 380px;  
}

.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}

.cattributesSpanRight {
    width: 48%;
    float: right;
}

.cattributesSpanLeft {
    width: 48%;
    float: left;
}

.botton_left {
    float: left;
}

.button_right {
    float: right;
}

.generator_buttons {
    display: inline-block;
}

.cattributes_tabs {
    background-color: #d8d8d8;
    float: right;
}