.catBox {
    background-color: #68899b;
    border-radius: 30px;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 100px;
    height: 380px;  
}

.catBox:hover {
    background-color: #84acc2;
}

.prideBox {
    background-color: #68899b;
    padding-top: 50px;
    padding-left: 61px;
    padding-bottom: 65px;
    height: 435px;
    width: 300px;
    border-style: solid;
    border-width: 11px;
    border-radius: 35px;
    border-color: #607d8b;
}

.modal-content {
    background: #607d8b;
}
.prideBox:hover {
    background-color: #84acc2;
}

.cattributes {
    padding: 25px;
    background-color: #85adc2;
    border-radius: 10px;
}

.cattributes:hover {
    background-color: #97c0d6;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 10px;

}

.cattributesSpanRight {
    width: 48%;
    float: right;
}

.cattributesSpanLeft {
    width: 48%;
    float: left;
}

.botton_left {
    float: left;
}

.button_right {
    float: right;
}

.generator_buttons {
    display: inline-block;
}

.cattributes_tabs {
    background-color: #d8d8d8;
    justify-content: center;
}